@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #9a626b;
}

body {
  background: #111;
  overflow: hidden;
}

body.active {
  background: #fff;
}

body.active .header {
  background: #fff;
}

body.active .header .logo {
  color: #111;
}

body.active .header .navbar a {
  color: #111;
}

body.active .header .navbar a:hover {
  color: #9a626b;
}

body.active .header .search #search-btn {
  color: #111;
}

body.active .header .search #search-btn:hover {
  color: #9a626b;
}

body.active #cenVac {
  color: #111;
}

body.active .about .content p {
  color: #111;
}

body.active #titulo {
  color: #111;
}

body.active #galer {
  color: #111;
}

body.active #destin {
  color: #111;
}

body.active .gallery .box-container .box span {
  color: #111;
}

body.active .footer .box-container .box p {
  color: #111;
}

body.active .footer .box-container .box .links {
  color: #111;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #9a626b;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #9a626b;
  border: 0.2rem solid #9a626b;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #9a626b;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
  border-bottom: 0.2rem solid #9a626b;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #9a626b;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: #aaa;
  margin-left: .5rem;
  margin-top: 2rem;
  text-align: center;
  cursor: pointer;
}

.header .search #search-btn:hover {
  color: #9a626b;
}

.header .search-form {
  position: absolute;
  top: 99%;
  left: 0;
  right: 0;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9%;
  border-top: 0.2rem solid #9a626b;
  border-bottom: 0.2rem solid #9a626b;
  height: 6rem;
  gap: 1rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.header .search-form.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .search-form input {
  width: 100%;
  background: none;
  color: #fff;
  font-size: 1.8rem;
}

.header .search-form label {
  font-size: 2rem;
  cursor: pointer;
  color: #aaa;
}

.header .search-form label:hover {
  color: #9a626b;
}

.header .btn {
  margin-top: 0;
}

#theme-toggler {
  margin-left: 3rem;
  margin-top: -1rem;
  padding-top: 1rem;
  position: fixed;
  background: black;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

#theme-toggler:hover {
  color: #111;
  background: #fff;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #9a626b;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 6.5rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/home-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 95vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.home .content h3 {
  font-size: 5vw;
  color: #fff;
}

.home .content a {
  font-weight: bolder;
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 2rem;
  line-height: 2;
}

.book-form {
  width: 40%;
  margin: 1rem auto;
  margin-top: 5rem;
  background: #222;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form .contact {
  font-weight: bolder;
  font-size: 3rem;
}

.book-form form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.book-form form .inputBox {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin-top: 2rem;
}

.book-form form .inputBox span {
  font-size: 2rem;
  color: #aaa;
  margin-left: 2rem;
}

.book-form form .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #9a626b;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .inputBox textarea {
  width: 100%;
  height: 15rem;
  resize: none;
  padding: 1.2rem 1.4rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.book-form form .inputRadio {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin-top: 2rem;
}

.book-form form .inputRadio span {
  font-size: 2rem;
  color: #aaa;
  margin-left: 2rem;
}

.book-form form .inputRadio input {
  margin-left: 2rem;
  margin-top: 2rem;
}

.book-form form .inputRadio label {
  font-size: 2rem;
  color: #aaa;
  margin-left: 1rem;
}

.book-form form .btn {
  margin-top: 2rem;
  font-weight: bolder;
}

.subscribe {
  width: 40%;
  font-size: 2rem;
  margin: 1rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8rem;
  background: #222;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 25px;
  min-height: 90vh;
}

.subscribe .contact {
  width: 100%;
  font-weight: bolder;
  font-size: 3rem;
}

.subscribe form {
  padding: 20px;
  width: 100%;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  color: #aaa;
}

.subscribe form .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.subscribe form .row .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.subscribe form .row .col .title {
  font-size: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.subscribe form .row .col .inputBox {
  margin: 15px 0;
}

.subscribe form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.subscribe form .row .col .inputBox input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.subscribe form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.subscribe form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  -webkit-filter: drop-shadow(0 0 1px #000);
          filter: drop-shadow(0 0 1px #000);
}

.subscribe form .row .col .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.subscribe form .row .col .flex .inputBox {
  margin-top: 5px;
}

.subscribe form .btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #fff;
  color: #9a626b;
  margin-top: 5px;
  cursor: pointer;
}

.subscribe form .btn:hover {
  background: #9a626b;
  color: #fff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .centros-vacunacion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
  font-size: 2rem;
}

.about .centros-vacunacion .map {
  border-radius: 1rem;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #9a626b;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(40rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 24rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #9a626b;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .box h3 {
  margin-top: .5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: .5rem;
  color: #9a626b;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #9a626b;
  color: #9a626b;
  margin-right: .5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #9a626b;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #9a626b;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: .5rem;
  color: #9a626b;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #9a626b;
}

@media (max-width: 1600px) {
  .subscribe {
    width: 60%;
  }
}

@media (max-width: 1300px) {
  .subscribe {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .subscribe {
    width: 80%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .subscribe {
    width: 80%;
  }
  .header .search {
    margin-right: 2rem;
  }
}

@media (max-width: 880px) {
  .subscribe {
    width: 90%;
  }
  .header .search {
    margin-right: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
  .book-form {
    width: 70%;
  }
  .header .search {
    margin-right: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
  .book-form {
    width: 90%;
  }
  .subscribe {
    width: 98%;
  }
  .header .search {
    margin-right: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */